.gallery {
  height: 100vh;
  padding-left: 20px;
  padding-top: 8px;
  margin-top: 80px !important;
  overflow-y: hidden;
  height: fit-content;
  max-height: calc(100vh - 80px) !important;
  /* background-image: url("https://i.ibb.co/fStGr21/wowpatterns-export-1.png"); */
}

.gallery:hover {
  overflow-y: scroll;
  overflow-y: overlay;
}

.add-btn {
  position: fixed;
  color: #13c79a;
  cursor: pointer;
  bottom: 60px;
  right: 75px;
  width: 56px;
  height: 56px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
}

.add-btn:hover {
  transform: scale(1.08);
}

.gallery-header {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.sort {
  width: fit-content;
  height: fit-content;
  align-self: center;
  margin-left: 15px;
  font-family: "Kanit", sans-serif;
  font-size: 15px;
  color: #252525;
}

.folder-header {
  font-family: "Kanit", sans-serif;
  font-size: 33px;
  font-weight: 300;
  margin-left: 11px;
  margin-bottom: 4px;
}

.folder-page {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hr3 {
  border: 0;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    50deg,
    rgb(104, 103, 103),
    transparent
  );
}

.back {
  /* align-self: center; */
  padding-top: 10px;
  margin-left: 11px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 20px;
}

.back-text {
  color: #bdbcbc;
  cursor: pointer;
  align-self: center;
  margin-top: 1px;
  font-family: "Kanit", sans-serif;
  font-size: 14px;
}

.back-btn {
  color: #bbbbbb;
  cursor: pointer;
  align-self: center;
  margin-right: 3px;
}

.gallery-input {
  border: 1.6px #56c9ac solid;
  width: 13rem;
  padding: 12px;
  align-self: center;
  margin-right: 100px;
  border-radius: 40px;
  outline: none;
  height: 20px;
}

.gallery-input::placeholder {
  font-size: 14px;
  font-family: "Kanit", sans-serif;
}

.card-section--big {
  margin-top: -7px;
  padding-left: 20px;
  height: 100vh;
  width: auto;
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-template-rows: auto auto 2fr 2fr 2fr auto auto;
}

.card-section--small {
  margin-top: -7px;
  /* height: 100vh; */
  /* display: block; */
  overflow: auto;
  width: auto;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-template-rows: auto auto 2fr 2fr 2fr auto auto;
}

@media screen and (max-width: 1200px) {
  .card-section--big {
    margin-top: -7px;
    padding-left: 20px;
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: auto auto 2fr 2fr 2fr auto auto;
  }

  .card-section--small {
    margin-top: -7px;
    /* height: 100vh; */
    /* display: block; */
    overflow: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: auto auto 2fr 2fr 2fr auto auto;
  }
}

@media screen and (max-width: 900px) {
  .card-section--big {
    margin-top: -7px;
    padding-left: 20px;
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: auto auto 2fr 2fr 2fr auto auto;
  }

  .card-section--small {
    margin-top: -7px;
    height: 100vh;
    display: block;
    overflow: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: auto auto 2fr 2fr 2fr auto auto;
  }
}
